<div class="message-container"></div>

<div class="content-container">

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>
      Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-2014-legislature-tracker" target="_blank">Github</a>.
      Icons from the Noun Project;
        <a href="http://thenounproject.com/term/close/14572/" target="_blank">Close by Benny Forsberg</a>;
        Congress by Martha Ormiston;
        Energy by NDSTR;
        Education by Thibault Geffroy;
        Time by Richard de Vos;
        Capital by Jonathan Keating;
        Paper by Tom Schott;
        Bank by Ilaria Baggio;
        Group by Alexandra Coscovelnita;
        Check mark by Spencer Cohen.
    </p>

  </div>
</div>
