/**
 * Main styles for: minnpost-2014-legislature-tracker
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */


body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-2014-legislature-tracker-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: $sans-serif-font;
  margin: 1em auto;

  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent $loader-image center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }


  .ls {

    // Fix some image reference
    a.permalink {
      background-image: image-url('link-16x8-black.png');
    }

    .loading-general span {
      background-image: image-url('loading.gif');
    }

    // Make the background a bit more transparent
    .categories-container {
      background-image: none;
      position: relative;
      display: block;

      &::after {
        background: transparent image-url('capitol-bg.png') top center no-repeat;
        background-size: 100% 100%;
        content: "";
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }

    // Width for sticky menu
    .stuck {

      .menu-stick-container {
        max-width: 970px;
        padding: 0 15px;
      }
    }

    // 10 categories
    .categories-container {

      ul li {
        width: 20%;
      }
    }
  }



  // Breakpoints
  @media screen and (max-width: 768px) {
    .ls .categories-container ul li {
      width: 33.332%;
    }

    .ls .categories-container {
      padding-top: .5em;

      &::after {
        background-position: bottom center;
        background-size: 100% auto;
      }
    }
  }
  @media screen and (max-width: 530px) {
    .ls .categories-container ul li {
      width: 50%;
    }
  }
  @media screen and (max-width: 385px) {
    .ls .categories-container ul li {
      width: 100%;
    }
  }
}
